body {
    background-image: url('https://images.unsplash.com/photo-1534430480872-3498386e7856?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
    background-size:cover
}
h1 {
    color:pink;
    font-size:25px;
    background-color: black;
    text-align: center;
}
img {
    width:400px;
}
#thirdDiv {
    height:600px;
    width:500px;
    background-color:lavenderblush;
    margin: auto;
    width: 60%;
    padding:50px;
    border: 10px solid black; 
}
#spanID {
    font-size:18px;
    margin:50px
}
.divClass {
    margin: auto;
    width: 60%;
    padding:10px;
}
